@font-face {
  font-family: '10479';
  src: url('10479.eot');
  src: url('10479.eot?#iefix') format('embedded-opentype'),
       url('10479.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'M.Video-Light';
  src: url('M.Video-Light.svg#M.Video-Light') format('svg'),
       url('M.Video-Light.ttf') format('truetype'),
       url('M.Video-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

